<title>Etusivu</title>
<h1>Tervetuloa keskustelusovellukseen!</h1>

{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a><br>

{% if admin_user %}
    <a href="/admin">Hallinnoi ylläpitäjiä</a><br>
{% endif %}

<br>
Keskustelualueiden määrä: {{ count }}<br>
Luo uusi keskustelualue
<form action="/create" method="POST">
    Alueen nimi: <input type="text" name="name"> <br>
    <input type="submit" value="Lähetä">
    </form>

Keskustelualueet: <br>
{% for room in rooms %}
<a href="{{ url_for('room_messages', room_id=room.id) }}">{{ room.name }}</a><br>
<hr>
{% endfor %}

Hae viestejä keskusteluista
<form action="/search" method="GET">
    Hakusana: <input type="text" name="query">
    <br>
    <input type="submit" value="Lähetä">
    </form>
    
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
<br>

Ylläpitäjien viesti: <br>
{% for i in info %}
<i>Viesti:</i> {{ i[0] }}
<p>
<i>Lähettäjä:</i> {{ i[1] }}
<p>
<i>Aika:</i> {{ i[2].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
{% endfor %}