<!DOCTYPE html>
{% extends "layout.html" %}{% block content %}
<head>
    <title>Keskustelu</title>
</head>
<br>
<div class="container">
    <div class="left-div">
    <h2>{{ room_name }}</h2>
    Viestien määrä: {{ count }}
    {% if admin_user %}
    <form action="/delete_room" method="POST">
    <input type="hidden" name="room_id" value="{{ room_id }}">
    <button type="submit" class="btn btn-delete">Poista keskustelualue</button>    
    </form>
    <br>
    <br>
    {% endif %}
    <hr>
    {% for message in messages %}
    <i>Viesti:</i> {{ message[0] }}
    {% if message.user_id == session.user_id or admin_user%} 
    <form action="/delete" method="POST">
    <input type="hidden" name="id" value="{{ message[4] }}">
    <input type="hidden" name="room_id" value="{{ message[3] }}">
    <input type="hidden" name="user_id" value="{{ message[5] }}">
    <button type="submit" class="btn btn-delete">Poista</button>   
    </form>
    {% endif %} 
    <p>
    <i>Lähettäjä:</i> {{ message[1] }}
    <p>
    <i>Aika:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
    <hr>
    {% endfor %}
    </div>
    <div class="right-div">
    <form action="/send" method="POST">
    <input type="hidden" name="room_id" value="{{ room_id }}">
    Viesti: <br>
    <textarea name="content" rows="5" cols="30"></textarea>
    <br>
    <button type="submit" class="btn btn-custom">Lähetä</button>
    </form>
    </div>
</div>
{% endblock %}