<h1>{{ room_name }}</h1>
Viestien määrä: {{ count }}
<hr>
{% for message in messages %}
<i>Viesti:</i> {{ message[0] }}
<p>
<i>Lähettäjä:</i> {{ message[1] }}
<p>
<i>Aika:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
{% endfor %}
<form action="/send" method="POST">
<input type="hidden" name="room_id" value="{{ room_id }}">
Viesti: <br>
<textarea name="content" rows="3" cols="40"></textarea>
<br>
<input type="submit" value="Lähetä">
</form>
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}